CMakeFiles/
CMakeCache.txt
CMakeUserPresets.json
build/
build-debug/
build-release/
.tmp_layout_check
.vscode
vcpkg_installed
run.sh
build_and_run.sh
build.sh
.idea/
.cmake/
test_coverage.sh
CLAUDE.md
scripts
coverage*
*.log
*.profraw
.cache
shaders/*.spv
scrapengine_settings.json
sauceengine_settings.json



# Experimental/temporary files
ModelLoader.cpp

imgui.ini
imgui.ini
/temp_scene_extract
assets/*.hdr
.DS_Store
/build-ios-device/
/build-ios-xcode/
/build-macos/
AGENTS.md
